# 기본적으로 모든 파일 무시
*

# .cpp 파일만 허용
!*.cpp

# .gitignore 파일 허용
!.gitignore

# VSCode 설정 무시
.vscode/

# 실행파일 무시 (확장자 없는 것 포함)
0x*/test
0x*/test*

# 모든 디버그 심볼 폴더 무시 (Mac에서 생기는 것들)
*.dSYM/

# 컴파일 중간 산출물 무시
*.o
*.out
*.exe
